@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$dp-yellow: #1b31de;
$dp-white: #fafffa;
$dp-black: #192024;
$dp-grey: #3b3d42;
$mobileBreakpoint: 960px;
$desktopBreakpoint: 1264px;
$mobileWidth: 84vw;
$mobileMargin: 8vw;

$sansSerif: "Montserrat", sans-serif;
